.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.upper-panel {
  display: flex;
  flex: 2;
  background-color: #f5f5f5;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.lower-panel {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
}

.upper-left-panel {
  flex: 1;
  width: 50%;
  border: 1px solid #ddd;
}
.upper-right-panel {
  flex: 2;
  width: 50%;
  border: 1px solid #ddd;
}
